main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
}

.dark {
  background-color: #000;
}

.light {
  background-color: #ebd700;
}

@media screen and (min-width: 1000px) {
  .container {
    flex-direction: row;
  }

  .column {
    width: 50%;
  }

  .container.reverse {
    flex-direction: row-reverse;
  }
}
