@import "css/type.css";
@import "css/buttons.css";
@import "css/containers.css";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin for consistent spacing */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles for lists with role="list" */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: black;
  --f-s-xl: clamp(3rem, 12vw + 1rem, 5rem);
  --f-s-lg: 1.5rem;
  --f-s-md: 1.25rem;
  --f-s-sm: 1rem;
  display: flex;
  flex-direction: column;
}

/* Adjust font size on headings, interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Default styles for anchor elements without a class */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images responsive */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit font styles for form elements */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Ensure textareas without rows are not too small */
textarea:not([rows]) {
  min-height: 10em;
}

/* Extra scroll margin for target elements */
:target {
  scroll-margin-block: 5ex;
}
